services:
    postgres:
        image: postgres:15
        environment:
            POSTGRES_DB: students_themes_db
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_USER: postgres
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data

    app:
        build:
            context: ./spring-boot-kotlin-STT
            dockerfile: Dockerfile
        environment:
            DATABASE_URL: ${POSTGRES_URL:-jdbc:postgresql://postgres:5432/students_themes_db}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE:-dev}
            ml.service.url: ${ML_SERVICE_URL:-http://ml-service:8000}
            PORT: 8080
        ports:
            - "8080:8080"
        depends_on:
            - postgres
            - ml-service

    ml-service:
        build:
            context: ./ML
            dockerfile: Dockerfile
        ports:
            - "8000:8000"

volumes:
    postgres_data:
